.navbar-inverse {
    background-color:transparent;
    border-color: transparent;
    color: red;
}
element {
    color: brown;
}

.navbar-inverse .navbar-nav > li > a {
    color: orangered;
}
.navbar-inverse .navbar-brand {
    color: maroon;
}
.navbar-inverse .navbar-brand:hover {
    color: red;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: royalblue;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}